.MMM-Holiday2 .photo {
	width: 24px;
	height: 24px;
}
.MMM-Holiday2 .symbol {
	color: #c9e4f5;
}
.MMM-Holiday2 .today {
	color: #54d2e4;
}
.MMM-Holiday2 .holiday {
	color: #fff;
}
.MMM-Holiday2 .icon  {
    -webkit-border-radius: 3px;
    height: 18px;
    width: 18px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
.MMM-Holiday2 .symbol i {
  -ms-transform: translate(0, 2px); /* IE 9 */
  -webkit-transform: translate(0, 2px); /* Safari */
  transform: translate(0, 2px);
}
.MMM-Holiday2 .calendar-stack {
    display: inline-block;
    font-size: 18px;
    line-height: 90%;
 }
