.MMM-Holiday2 .symbol i {
  -ms-transform: translate(0, 2px); /* IE 9 */
  -webkit-transform: translate(0, 2px); /* Safari */
  transform: translate(0, 2px);
}
.calendar-stack {
    display: inline-block;
    font-size: 18px;
    line-height: 90%;
 }
